@font-face {
    font-family: 'Righteous';
    src: url(../font/Righteous-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Nunito-bold';
    src: url(../font/Nunito-Bold.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito-Regular.ttf);
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    background-color: #08456D;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 229px 10fr;
    transition: height 0.2s ease;
}
#logoLion{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.titelHeader{
    font-size: 70px;
    font-family: 'Nunito-bold';
    color: white;
    margin-left: 15px;
}
.buttonHeader{
    display: flex;
}
button{
    background-color: #FF9412;
    border-radius: 7px;
    border: none;
    font-size: 28px;
    color: white;
    width: 275px;
    font-family: 'Nunito-bold';
    height: 50px;
    margin: 20px;
    width: 10px;
}
.exit{
    background-color: #cf3a50;
}
.exit:hover{
    background-color: red;
}
button:hover{
    background-color: #e58a1a;
    scale: 1.1;
}
.partTop{
    background-image: url(../img/img_for_home/pp_all_animaux.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    font-family: 'Nunito-bold';
}
.textWelcome{
    text-align: center;
    color: white;   
    font-size: 100px;
}
.parallaxTop{
    background-image: url(../img/img_for_home/parallax_top.png);
    width: 100%;
    height: 300px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.titelcenter{
    background-color: #799602;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
}
.left { grid-area: 1 / 1 / 2 / 2; }
.event { grid-area: 1 / 2 / 2 / 3; }
.right { grid-area: 1 / 3 / 2 / 4; }
.event{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Nunito-bold'; 
}
.branche{
    width: 400px;
    height: 300px;
    position: relative;
    bottom: 70px;
    z-index: 0;
    
}
.right{
    transform: rotateY(180deg);
    
}
.partCenter{
    background-color: #96B686;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.box{
    display: flex;
    flex-direction: row; 
}
.safari{
    position: relative;
    z-index: 1;
    margin-top: 50px;
    width: 320px;
    height: 270px;
}
.info{
    position: relative;
    z-index: 2;
    bottom: 60px;
    background-color: white;
    width: 320px;
    height: 270px;
    border-radius: 20px;    
}
.dateEvent{ 
    grid-area: 1 / 1 / 2 / 3; 
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito-bold';
    margin: 10px;
    margin-bottom: 30px;
}
.heureEvent{ 
    grid-area: 5 / 1 / 6 / 3;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito-bold';
    margin-top: 30px;
}
.carteOne{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px;
}
.imgCarte{
    height: 10px;
}
.carteOneInfo{
    background-color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    bottom: 18px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 72px 8fr;
    grid-template-rows: auto 35px 35px 35px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Nunito-bold';
    font-size: 25px;
    height: 270px;
}
.carteTow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px;
}
.carteTowInfo{
    background-color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    bottom: 18px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 35px 35px 35px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Nunito-bold';
    font-size: 25px;
}
.carteThree{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px;
}
.carteThreeInfo{
    background-color: white;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    bottom: 18px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 35px 35px 35px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Nunito-bold';
    font-size: 25px;
}
.feuilleOne{
    position: relative;
    width: 200px;
    height: 240px;
    top: 460px;
    left: 100px;
    z-index: 2;
    transform: rotate(15deg);
}
.feuilleTwo{
    position: relative;
    width: 200px;
    height: 240px;
    top: 460px;
    right: 100px;
    z-index: 2;
    transform: rotateY(180deg);
}
.parallaxBottom{
    background-image: url(../img/img_for_home/parallax_loup.png);
    width: 100%;
    height: 300px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.partBottom{
    background-color: #799602;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
#loup, #stat{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
#stat{
    margin-left: 30px;
}
.titelBottom{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Nunito-bold'; 
}
#containerDown{
    background: linear-gradient(180deg, #86A508 0%, rgba(139, 137, 79, 0.59) 70.31%, #6E8709 95.31%, #627611 100%);
    width: 100%;
    height: 660px;
    display: flex; 
    justify-content: space-around;
}
.infoPartDown{
    width: 300px;
    height: auto;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    color: white;
    font-family: 'Nunito-bold';
    font-size: 35px;
}
.textStat{
    background-color: #627611;
    border-radius: 17px;
    text-align: center;
}
.numberTicket{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #627611;
    font-size: 50px;
}
#ticket{
    width: 80px;
    height: 80px;
    position: relative;
    left: 100px;
    align-self: flex-end;
    justify-self: end;
}
.number{
    position: absolute;
}
#spa{
    width: 100px;
    height: 80px;
    position: relative;
    left: 100px;
    align-self: flex-end;
    justify-self: end;
}
.imgLion{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 150px;
    margin-top: 420px;
}
.Girafe{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
}
.arbre{
    width: 700px;
    height: 400px;
    position: absolute;
    margin-top: 259px;
    z-index: 2;
}
.peroquet{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: 105px;
    z-index: 1;
}
.zoneBlache{
    margin-left: 20px;
 }
#signature{
    position: absolute;
    display:flex;
    align-self: flex-end;
    margin-left: 850px;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Nunito-bold';
}
.imgMenu{
    width: 40px;
    height: 40px;
}
#btnBurger{
    background-color: #F5F9FA;
    margin-right: 30px;
    width: 61px;
    height: 52px;
    grid-area: 1 / 5 / 5 / 5;
    float: right;
    margin-left: auto;
    display: none;
}
.carteOne:hover{
    scale: 1.1;
}
.carteTow:hover{
    scale: 1.1;
}
.carteThree:hover{
    scale: 1.1;
}

body .activeBurger{
    height: 500px!important;
    grid-template-columns: 100px 100px 1fr 1fr!important;
    grid-template-rows: 1fr 1fr 1fr!important;
}
body .activeBtn{
    display: flex!important;
    flex-direction: column!important;
    align-content: center!important;
    justify-content: center!important;
    grid-area: 2 / 1 / 2 / 6!important;
}
body .activeBtn a{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

@media only screen and (max-width: 2089px){
    .right{
        margin-left: 225px;
    }
    .left{

    }
    button{
        font-size: 20px;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-widht: 2018px){
    
}
@media only screen and (max-width: 2021px){
    header{
        display: grid;
        grid-template-columns: 1fr 443px 10fr;  
    }
    .right{
        margin-left: 254px;
    }
}
@media only screen and (max-width: 1497px){
    header{
        display: grid;
        grid-template-columns: 1fr 198px 10fr;
    }
    
    .branche{
        width: 400px;
    }
    .right{
        margin-left: 0%;
    }

}
@media only screen and (max-width: 1171px){
    button{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 1171px){
    .textWelcome{
        font-size: 70px;
    }
}
@media only screen and (max-width: 1301px){
    .feuilleOne, .feuilleTwo{
        display: none;
    }
}
@media only screen and (max-width: 1286px){
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #signature{
        font-size: 15px;
        margin-left: 450px;
    }
   
}
    @media only screen and (max-width: 1001px){
    .peroquet, .arbre{
        display: none;
    }
    .imgLion{
        margin-left: 264px;
    }
}
@media only screen and (max-width: 808px){
    .imgLion{
        margin-left: 170px;
    }
}
@media only screen and (max-width: 788px){
    #containerDown{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
    }
    .imgLion{
        display: none;
    }
    .Girafe{
        display: none;
    }
    #signature{
        display: none;
    }
}
@media only screen and (max-width: 731px){
    .numberTicket{
        height: 100px;
        margin-top: 10px;
    }
    #ticket, #spa{
        height: 50px;
        width: 50px;
    }

}
@media only screen and (max-width: 1168px){
    .buttonHeader{
        display: none;
    }
    #btnBurger{
        float: right;
        display: block;
    }
}  




