@font-face {
  font-family: "Righteous";
  src: url(../font/Righteous-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Nunito-bold";
  src: url(../font/Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../font/Nunito-Regular.ttf);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#logoTigre {
  width: 100px;
  height: 100px;
  margin: 20px;
}
h1 {
  font-size: 60px;
  margin: 30px;
  font-family: "Nunito-bold";
  color: white;
}
.partTop {
  display: flex;
  flex-direction: row;
  width: 250px;
}
.barre {
  margin-left: 15px;
  width: 310px;
  height: 1px;
  background-color: white;
}
header{
  margin-left: 272px;
  display: flex;
  width: auto;
  justify-content: space-between;
}
.boxLeft {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  width: 350px;
  height: 100vh;
  background-color: #40513b;
  display: flex;
  flex-direction: column;
}
.imgButton {
  width: 55px;
  height: 55px;
  margin: 15px;
  margin-right: 40px;
}
.btnNav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 34px;
  font-family: "Nunito-bold";
  background-color: #609966;
  color: #c6bebe;
  border: none;
  margin: 30px auto;
  cursor: pointer;
}
.exit {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin: 0 auto;
  background: rgba(241, 241, 241, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sortir {
  width: 30px;
  height: 30px;
}
.active {
  background-color: #92c776;
  color: white;
}

/* --- PAGE ADD --- */

body > div {
  width: 100%;
  height: 100vh;
  margin: 0 100px;
  display: none;
}

.show {
  display: block !important;
}

#dashboardPage {
}

.welcome {
  color: #2b404a;
  font-size: 50px;
  font-family: "Nunito-bold";
}
.employe {
  color: #2b404a;
  font-size: 45px;
  font-family: "Nunito-bold";
  margin-right: 120px;
}
.main {
  background-color: #f1f1f1;
  height: 100vh;
  margin-left: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}
.info {
  border: 2px solid black;
  width: 250px;
  height: 150px;
  border-radius: 30px;
  margin-top: 70px;
  margin-left: 200px;
}
.containerLeft {
  border: 2px solid black;
  width: 250px;
  height: 150px;
  border-radius: 30px;
  margin-top: 70px;
  background: #ffffff;
}
.containerRight {
  border: 2px solid black;
  width: 250px;
  height: 150px;
  border-radius: 30px;
  margin-top: 70px;
  background: #ffffff;
}

#showTableTitleDashBoard {
  font-size: 31px;
  color: #2b404a;
  font-family: "Nunito-bold";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#showTableTitleSearch {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 31px;
  color: #2b404a;
  font-family: "Nunito-bold";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

thead tr {
  border-bottom: 2px solid #d9d9d9;
}
tr {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.yass {
  display: flex;
  flex-direction: row;
}
.imgcontainer {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}
.containerimg {
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #d9d9d9;
}
.titel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 35px;
  font-family: "Nunito-bold";
  font-size: 25px;
  color: #9e9cac;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.number {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Nunito-bold";
  font-size: 40px;
  color: #2b404a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.partbottom {
  width: 800px;
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: start;
  border-radius: 30px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
h2 {
  margin-top: 10px;
  margin-left: 20px;
  color: #2b404a;
  font-size: 40px;
  margin-left: 30px;
}
h2 {
  grid-area: 1 / 1 / 2 / 2;
}
.titreDashbord {
  display: flex;
  flex-direction: row;
}
.menuDeroulant {
  grid-area: 1 / 2 / 2 / 3;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: #f2f2f6;
  display: flex;
  justify-self: end;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #9e9cac;
}
.tableContainer {
  display: none;
  grid-area: 2 / 1 / 3 / 3;
  overflow-y: scroll;
  word-break: keep-all;
  max-height: 300px;
  margin-left: 10px;
}
table {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 10px;
  color: #9e9cac;
  font-family: "Nunito-bold";
}

.supp {
  width: 20px;
  height: 20px;
}
.buttonSupp {
  width: 30px;
  height: 30px;
  background-color: #e03550;
  border: none;
  border-radius: 5px;
}
th {
  width: 100px;
  color: #2b404a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}
th:nth-child(3) {
  width: 150px;
}
td {
  text-align: center;
  width: 100px;
  height: 10px;
  line-height: 2px;
}
td button,
td img {
  height: 25px;
}
#tableContainerRaceDashBoard th {
  width: 125px;
}
#tableContainerRaceDashBoard td {
  width: 125px;
}

#tableContainerRaceSearch th {
  width: 125px;
}
#tableContainerRaceSearch td {
  width: 125px;
}

.containerLeft,
.containerRight,
.partbottom {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containerLeft {
  grid-area: 1 / 1 / 2 / 2;
}
.containerRight {
  grid-area: 1 / 2 / 2 / 3;
}
.partbottom {
  grid-area: 2 / 1 / 3 / 3;
}
#addPage {
}

.pageAnimal {
  display: none;
}

.mainAdd {
  background-color: #f1f1f1;
  height: 99vh;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choixAnimal,
.choixId {
  grid-area: 1 / 1 / 2 / 3;
  width: 700px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  font-family: "Nunito-bold";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.603);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.choixId {
  margin-top: 40px;
  width: 500px;
  height: 50px;
}

.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 4fr;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  width: 100%;
  height: 300px;
  margin-top: 80px;
  font-size: 50px;
}
.select {
  width: 100%;
  display: flex;
  justify-content: center;
}
.in {
  width: 200px;
  display: flex;
  justify-self: center;
  height: 60px;
}
.inputFive {
  width: 835px;
  height: 200px;
  border-radius: 20px;
}
.inputOne,
.inputThree {
  display: flex;
  justify-self: end;
  border-radius: 10px;
  font-size: 20px;
  width: 320px;
}
.inputTwo,
.inputFour,
#gender,
#race,
#foodType {
  display: flex;
  justify-self: start;
  border-radius: 10px;
  font-size: 20px;
  width: 320px;
  text-align: center;
  border: none;
}

#race {
  padding: 0px !important;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-family: "Nunito-bold";
}
.ajouter {
  width: 500px;
  height: 50px;
  border-radius: 50px;
  font-size: 30px;
  background-color: #40513b;
  color: white;
  margin: 0 auto;
}
.sous-titre {
  display: flex;
}

.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  font-family: "Nunito-bold";
}

.grid-item {
  padding: 10px;
  margin: 20px;
  font-family: "Nunito-bold";
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-item .choixId {
  margin: unset;
  width: 320px;
  height: auto;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  height: 60px;
}
.commentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentContainer textarea {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 21px;
}

.grid-item h2 {
  margin: 0px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Nunito-bold";
}

.grid-item p {
  margin: 0;
  font-size: 1rem;
  font-family: "Nunito-bold";
}

.grid-item h3 {
  margin-top: 20px;
}

.inputFive {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3,
h2 {
  font-family: "Nunito-bold";
  color: #6b5d5d;
  font-size: 1.4rem;
}
.inputFive {
  width: 800px;
  word-break: break-word;
  text-align: start;
  border: none;
}
input,
#gender,
#race,
#foodType {
  border: none;
  padding: 20px;
}

.select form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select #race {
  padding: 0px;
}
.select button {
  margin-top: 40px;
  margin-left: 20px;
  margin: 40px 20px 0 20px;
  width: 200px;
}
.select .choixId {
  width: 320px;
  font-size: 20px;
  border-radius: 10px;
}

#pageAddRace {
  display: none;
}
#pageModifyRace {
  display: none;
}

.inputOne {
  grid-area: 1 / 1 / 2 / 2;
}
.inputTwo {
  grid-area: 1 / 2 / 2 / 3;
  text-align: start;
}
.inputThree {
  grid-area: 2 / 1 / 3 / 2;
}
.inputFour {
  grid-area: 2 / 2 / 3 / 3;
}
.inputFive {
  grid-area: 3 / 1 / 4 / 3;
}
#modifyPage {
}
#searchPage {
}
#searchPage .mainAdd {
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchContainer button {
  margin: 20px 20px 0 20px;
  width: 200px;
}

.recherche {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.imgRecherche {
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  width: 60px;
  padding: 5px;
}
.barreRecherche {
  width: 279px;
  border-radius: 0px 20px 20px 0px;
  font-size: 15px;
}
.barreRecherche::placeholder {
  font-family: "Nunito-bold";
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.azerty {
  width: 800px;
  height: 500px;
  margin-top: 40px;
  display: flex;
  justify-content: start;
  border-radius: 30px;
  background-color: white;
  display: none;
}

.azerty table button {
  width: 30px;
  margin: 0px;
}
.azerty table tr td:nth-child(2) {
  width: 102px;
}
.azerty table tr td:nth-child(3) {
  width: 103px;
}

.azerty table tr td:nth-child(4) {
  width: 152px;
}

.azerty table tr td:nth-child(5) {
  width: 102px;
}

.azerty table tr td:nth-child(6) {
  width: 104px;
}
.azerty table tr td:nth-child(7) {
  width: 104px;
}

#searchRaceContainer,
#searchAnimauxContainer {
  display: none;
}

.showflex {
  display: flex !important;
}

#tableContainerRaceSearch button,
#tableContainerAnimauxSearch button {
  visibility: hidden;
}
#tableContainerAnimauxDashBoard th,
#tableContainerAnimauxDashBoard td {
  width: 110px !important;
}

.commentContainerInTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow-y: scroll;
  text-align: center;
  word-break: break-word;
}
.commentContainerInTable p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  word-break: break-word;
  line-height: normal;
}
a{
  display: flex;
  justify-content: center;
}

body > .navShow{
  background-color: red;
  width: 355px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  z-index: 2;
}

body > .navShow .btnNav{
  display: flex;
}
body > .navShow .partTop{
  display: flex;
}
body > .navShow .exit{
  display: block;
}

body > .navShow .barre{
  grid-area: 2 / 1 / 2 / 2;
}
body > .navShow button:nth-child(3){
  grid-area: 2 / 1 / 2 / 1;
}
body > .navShow button:nth-child(4){
  grid-area: 3 / 1 / 3 / 1;
}
body > .navShow button:nth-child(5){
  grid-area: 4 / 1 / 4 / 1;
}
body > .navShow button:nth-child(6){
  grid-area: 5 / 1 / 5 / 1;
}
body > .navShow a:nth-child(7){
  grid-area: 6 / 1 / 6 / 1;
}
body > .navShow div:nth-child(8){
  grid-area: 1 / 2 / 7 / 3;
}

body > .navShow #btnBurger{
  position: relative;
  left: 0;
  right: 5px;
}

#btnBurger{
  width: 60px;
  height: 60px;
  display: none;
  border-radius: 40px;
  position: relative;
  left: 26px;
  border: 3px solid #40513b;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-left: 3px;
}
.fleche-menu{
  width: 40px;
  height: 40px;
}
@media only screen and (max-height: 775px){
  .btnNav{
    margin-top: 10px;
  }
}
@media only screen and (max-height: 714px){
  .partbottom{
    height: 300px;
  }
  .containerLeft{
    height: 120px;
  }
  .imgcontainer{
    height: 40px;
    width: 40px;
  }
  .titel{
    font-size: 20px;
  }
  .number{
    margin-top: 10px;
  }
  .containerRight{
    height: 120px;
  }
  .btnNav{
    height: 50px;
    font-size: 30px;
  }
  .imgButton{
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-height: 585px){
  .employe{
    font-size: 30px;
  }
  .welcome{
    font-size: 30px;
  }
  h1{
    font-size: 50px;
  }
  #logoTigre{
    height: 80px;
    width: 80px;
  }
  .barre{
    margin-top: -20px;
  }
}
@media only screen and (max-height: 588px){
  .containerLeft{
    margin-top: 20px;
  }
  .containerRight{
    margin-top: 20px;
  }
  .partbottom{
    margin-top: -31px;
  }
}
@media only screen and (max-height: 546px){
  .btnNav{
    margin-top: 5px;
  }
  .exit{
    height: 60px;
    width: 60px;
  }
}
@media only screen and (max-height: 875px){
  .choixAnimal{
    margin-top: 10px;
  }
}
@media only screen and (max-height: 806px){
  .ajouter{
    margin-top: -59px;
  }
  .commentContainer textarea{
    height: 100px;
  }
  .choixAnimal{
    height: 60px;
  }
}
@media only screen and (max-height: 587px){
  .grid-item h3{
    margin-top: -12px;
  }
  .inputOne, .inputThree{
    height: 20px;
  }
  #race{
    height: 40px;
  }
  #gender{
    height: 20px;
  }
}
@media only screen and (max-height: 522px){
  .choixAnimal{
    height: 50px;
  }
  .pageAnimal{
    margin-top: -22px;
  }
}
@media only screen and (max-width: 1441px){
  .welcome{
    margin-left: -252px;
  }
  .boxLeft{
    width: 100px;
  }
  .btnNav{
    display: none;
  }
  .partTop{
    display: none;
  }
  .exit{
    display: none;
  }
  .main{
    width: auto;
    margin: 0px;
  }
  .mainAdd{
    margin-left: 250px;
  }
  .container-menu{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  #btnBurger{
    display: flex;
  }
}
@media only screen and (max-width: 998px){
  .partbottom{
    width: auto;
  }
  th, td {
    font-size: 10px;
  }
  #showTableTitleDashBoard {
   font-size: 20px; 
  }
  .menuDeroulant{
    width: 80px;
  }
}
@media only screen and (max-width: 953px){
  .partbottom{
    width: 500px;
    margin-top: 40px;
  }
  .containerLeft{
    width: 150px;
  }
  .containerRight{
    width: 150px;
  }
  #tableContainerAnimauxDashBoard th, #tableContainerAnimauxDashBoard td {
    width: 66px !important;
  }
  .imgcontainer{
    display: none;
  }
  .employe{
    margin-left: 221px;
    font-size: 30px;
  }
  .containerimg {
    height: 41px;
  
  }
  .titel{
    margin-right: 25px;
  }
  .welcome{
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px){
  .partbottom{
    margin-left: 50px;
  }
  .employe{
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1431px){
  .mainAdd{
    width: auto;
    margin-left: 90px;
  }
}
@media only screen and (max-width: 900px){
  .choixAnimal{
    width: 400px;
  }
  .select .choixId {
    width: 200px;
    margin-left: 100px;
  }
  .select button {
    width: 100px;
    font-size: 20px;
  }
  #modifyAnimal{
    flex-direction: column;
  }
}
@media only screen and (max-width: 830px){
  .inputOne, .in, #race, #gender{
    width: 186px;
  }
  .commentContainer textarea {
    width: 471px;
  }
  .ajouter {
    margin-top: -59px;
    width: 194px;
  } 
}
@media only screen and (max-width: 627px){
  .commentContainer textarea {
    width: 312px;
    margin-left: -12px;
  }
  .grid-item h3{
    margin-top: -10px;
  }
  .choixAnimal {
    height: 40px;
  }
  .employe{
    margin-left: 50px;
  }
}
@media only screen and (max-width: 549px){
  .employe{
    margin-left: 6px;
  }
}
@media only screen and (max-width: 994px){
  .azerty{
    width: 503px;
  }
  th, td {
    font-size: 12px;
  }
} 
@media only screen and (max-width: 837px){
  .commentContainer textarea {
    width: 286px;
  }
  .inputOne, .inputThree, #gender, .choixId{
    width: 317px;
  }
  .ajouter{
    width: 227px;
  }
  .inputOne, .inputThree{
    width: 187px;
  }
  #gender, #race{
    width: 195px;
  }
  .choixAnimal{
    width: 282px;
  }
}


